main{
  margin-top: 2em;
}

.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  padding: 3em;
  cursor: pointer;
}

#noFiles{
  max-width: 33.33%;
  padding-top: 3em;
}

.files{
  text-align: center;
}

.filesTitle{
  padding-bottom: 1em;
  padding-top: 1em;
  margin: 0;
}

.tags{
  margin-top: 0.3em;
}

.metadataInput{
  margin-top: 1em;
  margin-bottom: 1em;
}

.metadataInputHint{
  color: grey;
}

.tags > *{
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.actions{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  #noFiles{
    max-width: 33.33%;
  }
}

.bi-arrow-clockwise {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}