main{
  margin-top: 2em;
}

.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  padding: 3em;
  cursor: pointer;
}

#noFiles{
  max-width: 33.33%;
  padding-top: 3em;
}

.files{
  text-align: center;
}

.filesTitle{
  padding-bottom: 1em;
  padding-top: 1em;
  margin: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 850px) {
  #noFiles{
    max-width: 33.33%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
